<div id="clearance" class="wrapper">
  <h2><%= t(".title") %></h2>

  <%= form_for @user, html: { class: 'form-signin', role: "form"} do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="btn btn-lg btn-primary btn-block">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
