<div class="container">
  <article>
    <div id="all-the-posts">
      <div class="life-posts">
        <% @lives.each do |l| %>
          <div class="title">
            <h1 class="post-title">
              <%=link_to l.title, life_path(l), class: "post-title-link"%>
            </h1>
          </div>
          <div class="created-at">
            <%= l.created_at.strftime("%B %d, %Y") %>
          </div>
          <div class="content">
            <%= truncate(markdown(l.content), length: 1000, escape: false) %>
            <br/><%= link_to "Read More", life_path(l), class: "read-more-link" %>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <%= will_paginate @lives %>
  </article>
</div>
