<div id="show-page-posts">
  <div class="showing-posts">
    <div class="created-at">
      <%= @code.created_at.to_date %>
    </div>
    <div class="title">
      <%= @code.title %>
    </div>
    <div class="content">
      <%= @code.content %>
    </div>
  </div>
  <div class="edit-delete-actions">
    <%= admin_edit_code %>
    <%= admin_delete_code %>
  </div>
</div>
