<div id="show-page-posts">
  <div class="showing-posts">
    <div class="created-at">
      <%= @life.created_at.to_date %>
    </div>
    <div class="title">
      <%= @life.title %>
    </div>
    <div class="content">
      <%= @life.content %>
    </div>
  </div>
  <div class="edit-delete-actions">
    <%= admin_edit_life %>
    <%= admin_delete_life %>
  </div>
</div>
