<div class="container">
  <article>
    <div id="show-page-posts">
      <div class="showing-posts">
        <div class="title">
          <h1 class="post-title">
            <%= @life.title %>
          </h1>
        </div>
        <div class="created-at">
          <%= @life.created_at.strftime("%B %d, %Y") %>
        </div>
        <div class="content">
          <%= markdown(@life.content) %>
        </div>
      </div>
      <div class="edit-delete-actions">
        <%= admin_edit_life %>
        <%= admin_delete_life %>
      </div>
    </div>
  </article>
</div>
