<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<#%= javascript_include_tag 'jquery-3.1.1.min' %>
  <#%= javascript_include_tag 'custom' %>-->

    <!-- Bootstrap -->
    <% unless current_page? sign_in_path %>
      <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
      <link href="/css/creative.min.css" rel="stylesheet">
    <% end %>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Inconsolata|Rokkitt" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    <!-- Custom -->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <% unless current_page? root_path %>
      <%= render 'shared/title' %>
      <% if signed_in? %>
        <%= render 'shared/header' %>
      <% end %>
    <% end %>

    <%= yield %>
    <%= render 'shared/main' %>

    <% unless current_page? root_path %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
