<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jquery-3.1.1.min.js" %>
    <%= javascript_include_tag 'custom' %>

    <!-- Bootstrap -->
    <% unless current_page? sign_in_path %>
      <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
      <link href="/css/creative.min.css" rel="stylesheet">
    <% end %>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/welcome.css">
  </head>

  <body>
    <%= yield %>
    <%= render 'shared/header' %>
    <%= render 'shared/main' %>
    <% unless current_page? root_path %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
