<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jquery-3.1.1.min.js" %>
    <%= javascript_include_tag 'custom' %>
    <link rel="stylesheet" href="/css/welcome.css">
  </head>

  <body>
    <%= yield %>
    <%= render 'shared/main' %>
    <%= render 'shared/footer' %>
  </body>
</html>
